<h3 class="text-center">Books List</h3>
<!-- search books -->
<div>
    <label for="author">Search for Authors:</label>
    <form class="d-flex" role="search">
        <input class="form-control me-2" [(ngModel)]="searchedString" type="search" placeholder="Search" aria-label="Search" type="text" name="author">
        <button class="btn btn-outline-success" type="submit" (click)="onSubmit()">Search</button>
    </form>
</div>

<!-- display books  -->
<mat-list *ngFor="let book of books">
    <mat-list-item>
        {{ book.authors[0] }} <strong>{{ book.title }}</strong>
        <img [src]="book.coverImage" [class.preview]="book.previewMode" (click)="onClickImage(book)">
    </mat-list-item>
</mat-list>